/* All Custom CSS */

/**********************
*	GP red: 	#ED1922	rgb(237,28,36);
*	GP black:	#000000	rgb(15,11,20);
*	GP white:	#FFFFFF	rgb(255,255,255);
**********************/

/**************************** Fonts ***************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,400italic);
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family: 'Lato', sans-serif;}

/************************** Sticky Footer Info *****************/
html {
  position: relative;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}
body {
  /* Margin bottom by footer height */
  font-size: 15px;
}

/**************************** Resets ***************************/
img { max-width: 100%; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 15px; }
p { font-size: 16px; }
small { font-size: 11px; }
dt{font-weight: 400; margin-top: 2%; }
i{padding-right: 5px;}

/**************************** Colors ***************************/
.gp-red { color: #ED1922; }
.gp-black { color: #000000; }
.gp-white { color: #FFFFFF; }
.gp-grey {color: #333333;}

/*********************************** Re-Sizing ******************/
.half{width: 75%;}
.p-black{color: #000; font-style: italic; margin-top: 4%;}
.bottom-a{margin-bottom:5%;}
.no-padd{padding: 0px;}

/*********************************** Assets ******************/
.margin-top-a{margin-top: 5%;}
.margin-top-b{margin-top: 8%;}
.margin-top-c{margin-top: 13%;}
.margin-top-e{margin-top: 7%;}
.margin-top-f{margin-top: 3%;}

.margin-bottom-a{margin-bottom: 11%;}
.margin-bottom-b{margin-bottom: 2%;}
.margin-bottom-c{margin-bottom: 4%;}
.margin-bottom-d{margin-bottom: 13%}
.margin-bottom-e{margin-bottom: 7%;}
.margin-bottom-f{margin-bottom: 30%;}
.bolder{font-weight: 800;}
.cta-btn{
	color: #FFFFFF;
	font-weight: 600;
	background-color: #EE2A2B;
	margin: 4% 2% 0 0;
}

.cta-btnb{
	color: #FFFFFF;
	font-weight: 600;
	background-color: #000;
	margin: 4% 2% 0 0;
}

.tester-a:focus, .tester-a:active{
	outline: 0;
}

.l-login {color: #fff;}

/*********************************** Sections ******************/
.top-panel{
	background-color: #EE2A2B;
	height:50px;
}
@media (min-width: 640px) {
	.top-panel { height: 30px; }
}

.logo-panel{
	background-color: #000000;
	border-bottom: 1px #ED1922 solid;
	height: 95px;
}
@media (min-width: 480px) {
	.logo-panel {
		height:150px;
	}
}

.nav-bar{
		background-color: #000000;	
}

/**************************** Top Panel ************************/
.contact-details, .login-top {
	color:#FFF;
	margin-top:3px;
}


/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.contact-details { padding-left: 45px; padding-right: 0px; }
}*/
/* fix ends */

.top-panel .email { display: block; }
.email a { color:#FFFFFF; }
@media (min-width: 640px) {
	.top-panel .email { margin-left: 30px; display: inline; }
}
.login {
	text-align: right;
}
/* Fix to look the same as template */
@media (min-width: 1200px) {
	.login { padding-right:88px; }
}
/* fix ends */

/**************************** Logo *****************************/
.logo img {
	padding-top: 18px;
	padding-bottom: 15px;
}
/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.logo img { margin-left: 15px; }
}*/
/* fix ends */

/***************************** Nav *****************************/
.row.nav-bar{
	margin-bottom: 0px;
}

/* Fix to look the same as template */
/*@media (min-width: 1200px) {
	.navbar {
		margin-left: 15px;
	}
}*/
/* fix ends */

ul.nav.navbar-nav {
	width: 100%;
}
.navbar-default .navbar-nav > li > a { margin-right: 50px; padding: 14px 0 2px; color: #d6d6d6;}
.navbar.navbar-default { margin-bottom: 0px; min-height: 50px; }

/* .navbar-nav li a --> see ".navbar-default .navbar-nav > li > a" in bootstrap.css  */

.navbar-nav .fa-search {
	color: #d6d6d6;
	padding-left:90px;
	margin-top: 15px;
}

.navbar.row.navbar-default {border-radius: 0;}

.navbar-default .navbar-nav > .active > a:active {color: #ed1922;}

/*Border Color For Mobile Nav*/
.container div.navbar-header button.navbar-toggle{border: #EE2A2B 2px solid;}

/************************* Slider *****************************/
.pirulo {
	position: relative;
}
.nivoSlider:hover .nivo-directionNav a { visibility: visible; }

.slider{
	background-color: #efefef;
}
.slider > .col-xs-12{
	padding: 0px;
}

/*.nivo-caption {
	margin: auto;
	max-width: 600px;
	max-height:250px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}*/

.caption-title{
	border-bottom: 1px solid #EE2A2B;

}

.nivo-caption h1,
.nivo-caption span {
	font-weight: 900;
}

.nivo-caption h1 { font-size: 46px; }

.nivo-caption p {	color: #fff; }

.nivo-caption sup { vertical-align: super; }
.nivo-caption h1 sup { font-size: 14px; }
.nivo-caption p sup { font-size: 10px; }

.nivo-caption .btn {
	color: #FFFFFF;
	font-weight: 600;
	background-color: #EE2A2B;
	margin-right: 5px;
}

.slider-title{
	padding-bottom:12px;
	border-bottom:1px solid #EE2A2B;
	margin-bottom: 3%;
	font-weight: 400;
	margin-top: 20px;
	padding: 8px 8px;
}
/************************* Content *****************************/
.content{
	background-color: #fff;
}

.content-header {	background:url(../img/window-panel.jpg); }
.content-header { background-color: #4D515A; }
.content-header img { margin-left:-15px; }
.content-header h1 { color: #FFFFFF; margin: 40px 0px 35px; }

.middle-row { background-color: #f2f2f2; }

.title-home { 
	font-size: 22px; /*this font size avoids having a three-line title in sml devices*/
	font-weight: 600;
	margin-top: 30px;
}
@media (min-width: 768px) {
	.title-home { font-size: 30px; margin-top: 35px; }
}
.title-home-thin {
	font-weight: 300;
}

.sub-title-home {
	text-transform: capitalize;
}
@media (min-width: 1200px) {
	.sub-title-home {
		color:inherit;
		font-size:28px;
		margin-top:33px;
	}
}

/* Services */
.services-home {
	max-width:73%;
}

.service-home {
	margin-top: 25px;
}
@media (min-width: 640px) and (max-width: 767px) {
	.service-home { width:30%; float:left; margin-right: 4px; margin-bottom: 45px; }
	.service-home.first { margin-left: 17px; }
	.service-home.last { margin-right: 17px; }
}
@media (min-width: 768px) {
	.service-home {
		margin-right: 4px;
		margin-top: 35px;
		margin-bottom: 45px;
		float:left;
		width:30%;
	}
	.service-home.first { margin-left: 18px; }
	.service-home.last { margin-right: 26px; }
}
@media (min-width: 992px) {
	.service-home { width: 20%; margin-right: 6px; margin-bottom: 0px; }
	.service-home.first { margin-left: 6px; }
	.service-home.last { margin-right: 20px; }
}
/* Fix to look the same as template */
@media (min-width: 1200px) {
	.service-home { margin-left: 0px; margin-right: 0px; }
	.service-home.first { margin-left: 0px; }
	.service-home.last { margin-right: 11px; }
}

/* fix ends */

.service-home img {
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
}

/* Newsletter */
.news-home { margin-top: 35px; }
.news-item { max-width: 45%; float: left; }
.news-item.first { margin-right: 10%; }
@media (min-width: 992px) {
	.news-home { width: 30%; float: left; }
	.news-item { max-width: 100%; float: none; }
	.news-item.first { margin-right: 0px; }
}
.news-title{
	border-bottom: 1px solid #EE2A2B;
	padding-bottom: 10px;
	font-weight: bold;
	margin-top: 0px;
}
.news-item a {
	color:#ED1922;
	padding: 5px;
}

/* +++++ About Us +++++ */
#business-desc { margin:30px 0px 60px 0px; overflow: auto; }
#business-desc p { font-size: 16px; }

#good-at {
	background-color: #f2f2f2;
	overflow: auto;
}
#good-at img { margin: 50px 0px; width:950px; }

/*#who-we-are, #clients { overflow: auto; }*/
#who-we-are h3, #clients h3 { font-size: 24px; margin:60px 0px 25px 0px; }

#who-we-are-accordion .panel-heading {
	color: #FFFFFF;
	background-color: #A4A4A4;
}
#who-we-are-accordion .headingOne {
	background-color: #EE2A2B;
}

#business-desc { margin:0px 0px 10px 0px; }
#business-desc .title-home { margin-bottom:40px; }
#business-desc p { font-size: 16px; }

#clients img {
	width:110px; height: 110px;
	margin: 0px 23px 23px 0px;
}
#clients .clients-controls {
	display: block;
	margin:10px auto 0px auto;
	width:55px; height: 15px;
}

#good-at img { margin: 50px 0px; width:950px; } /* fix for the percentage circles */

/* +++++ FAQs +++++ */
#faq-franchisee { padding-bottom:50px; }
#faq-franchisee .col-sm-6 { width: 47.5%; }
#faq-franchisee .h4 { color:#ED1922; }
#faq-franchisee .mod-text { width:90%; }
#faqs-form .form-control { border-radius: 6px; }
#faqs-form .btn { margin-top: -4px; }

/* +++++ What We Do +++++ */
#what-we-do .top-row .col-sm-6 { width: 42%; }
.title-home {
	padding-bottom:12px;
	border-bottom:1px solid #EE2A2B;
	margin-top: 60px;
	margin-bottom: 3%;
}

#what-we-do .bottom-row .title-home-thin { color: #222222; }
#what-we-do .top-row .mod-text { padding: 15px 0px 0px 0px; }
#what-we-do .top-row .extra-gutter { width: 10%; }
#about-image{margin-top:60px; max-height: 385px; }

#what-we-do .middle-row { padding: 60px 0px; }
#what-we-do .middle-row .container { margin-left: 12%; }
#what-we-do .middle-row .my-thumbnail {
	width:100%; height: 100%;
	margin-top: 45px;
}
#what-we-do .middle-row h4 {
	padding-bottom: 12px;
	border-bottom: 1px solid #ED1922;
	margin-top: 25px;
}

#what-we-do .bottom-row { background:url(../img/what-we.jpg); }
#what-we-do .bottom-row .title-home-thin { color: #fff; }
#what-we-do .sub-title-home {
	color:#FFFFFF;
	font-size: 16px;
	margin-top:0px;
}
#what-we-do .bottom-row hr {
	border-color:#ED1922;
	margin-top:15px;
	margin-bottom:45px;
}
#what-we-do .bottom-row .fa { color:#ED1922; }
#what-we-do .bottom-row .small {
	color: #ED1922;
	margin-top:30px;
	margin-bottom:65px;
}

/************************* Footer ******************************/

.footer {
  color: #FFFFFF;
  background-color: #000000;
  padding: 3% 1% 3% 1%;
  /* Set the fixed height of the footer here */
  bottom: 50px;
}


/*.footer .contact-us { width:23%; }*/

.footer .input-group,
.footer .form-control,
.footer p:not(.footer-sub-title) { width: 80%; }

.footer .input-group,
.footer .form-control { height:37px; }

.footer p { font-size: 14px; }
.footer i { padding-right: 10px; }
.footer input { border-radius:5px; }
.footer hr { visibility: hidden; margin:5px; }
.footer .email a:hover { color: #ED1922; }
.footer .indent { margin-left:23px; }

.footer-title {
	color:#ED1922;
	text-transform: capitalize;
	font-size: 22px;
	font-weight:600;
	margin-bottom: 25px;
	border-bottom: 1px solid #ed1922;
	width: 70%;
	padding-bottom: 6px; 
}
.footer-sub-title {
	color: #ED1922;
	font-weight: 600;
}
.footer .input-group-addon,
.footer .btn-default {
	color: #FFFFFF;
	background-color: #ED1922;
	font-weight:600;
	font-size: 13px;
	cursor: pointer;
	border:none;
}
.footer .btn-default { margin-top: 24px; }
.footer .form-control { font-style: italic; font-size: 12px; }

/************************* Bottom Panel ************************/
.bottom-panel {
	color: #FCFCFC;
	background-color: #ED1922;
	height: 50px;
	bottom: 0;

}
.bottom-panel p {
	font-weight: 500;
	margin-top: 15px;
}

/*********************** General Classes & Elements ************/
a:hover {
	color: #000000;
}

.multiple-sections { margin-bottom: 75px; }

.container.bottom-section { margin-bottom: 75px; }

.extra-gutter { width:4%; }

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.linked{color: #333333;}

/* mod-heavy refers to accordions, small contact forms and small thumbs galleries */
.mod-heavy {
	font-size: 35px;
	font-weight:600;
	margin:60px 0px 25px 0px;
}
.mod-text { padding:15px 15px 15px 0px; }
.my-thumbnail {
	height: 80%;
    margin: 0 23px 23px 0;
    width: 22%;
}
.my-thumbnails-controls {
	display: block;
	margin:10px auto 0px auto;
	width:55px; height: 15px;
}

.accordion .panel.panel-default,
.accordion .panel-body { border:none !important; box-shadow: none; }
.accordion .panel-heading {
	 color: #FFFFFF;
	 background-color: #A4A4A4;
	 border-radius: 6px;
	 border:none;
	 }
.accordion .headingOne { /* fix for first presentation. Needs to be done via JS */
	 background-color: #EE2A2B;
	 }


/*CONTACT FORM*/
.contact-form{display: flex;}
.form-horizontal .control-label{text-align:left;}
#contact-form.form-validate.form-horizontal.col-sm-8 div.control-group div.controls input{width: 95%;}
textarea#contact-form-message.required {width: 100%;}
#submit_btn.btn.btn-primary.validate {margin-right: 1%;}
.mail-link{color: #333333;}
.contact-logo{padding-top: 12%; padding-bottom: 13%;}


/*Validate Username Login*/
.validate-username{color:#333333;}


/*Acymailing CSS*/
.acymailing_footer{display: none;}
.adminform.acy_subscription_list legend{ margin-top: 3%;}
.acymodifybutton{margin-bottom: 5%;}
.acy_list_status_1.acy_onelist div.acyListInfo div.list_description{padding: 0px; margin: 2% 0 2% 0;}



/* Magnific Popup CSS Jquery Lightbox Plugin */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.8s ease-out; 
	-moz-transition: all 0.8s ease-out; 
	-o-transition: all 0.8s ease-out; 
	transition: all 0.8s ease-out;
}


/*Animation Effect*/
.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


